.u-section-1 .u-sheet-1 {
  min-height: 125px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 11px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: -64px 0 36px auto;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -44px;
    margin-bottom: 35px;
  }
}.u-section-2 {
  min-height: 725px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 1px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 574px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-group-1 {
  min-height: 451px;
  width: 875px;
  margin: 38px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 48px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 22px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 30px auto 0;
  padding: 11px 24px 11px 23px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 574px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  min-height: 449px;
  width: 336px;
  height: auto;
  margin: 70px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 1px 13px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 2px auto 0;
}

.u-section-2 .u-text-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 32px auto 0 2px;
  padding: 10px 107px 11px 105px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 17px 17px 0 auto;
  padding: 10px 98px 10px 97px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 544px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 473px;
  }

  .u-section-2 .u-group-1 {
    width: 631px;
  }

  .u-section-2 .u-btn-1 {
    height: 50px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-2 .u-group-2 {
    width: 251px;
    height: auto;
  }

  .u-section-2 .u-btn-2 {
    letter-spacing: normal;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 422px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 9px;
  }

  .u-section-2 .u-group-1 {
    min-height: 493px;
    width: 391px;
    margin-top: 62px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 584px;
  }

  .u-section-2 .u-group-2 {
    width: 320px;
    margin-top: 0;
    margin-left: 22px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 601px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 3px;
  }

  .u-section-2 .u-group-1 {
    min-height: 539px;
    width: 253px;
    margin-top: 32px;
    margin-left: 13px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 22px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-2 .u-group-2 {
    width: 285px;
    margin-top: -552px;
    margin-right: 26px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 48px;
  }

  .u-section-2 .u-text-4 {
    width: 188px;
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1204px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-2 .u-group-1 {
    min-height: 494px;
    width: 340px;
    margin-top: 630px;
    margin-left: auto;
    margin-bottom: -555px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 28px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 635px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -517px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }
}