.u-section-1 {
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 260px;
  margin: 21px auto 0 41px;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-list-1 {
  width: 1059px;
  margin: 26px auto 56px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 431px;
}

.u-section-1 .u-list-item-1 {
  background-size: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-1 .u-icon-1 {
  height: 114px;
  width: 114px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 13px 6px 0;
}

.u-section-1 .u-icon-2 {
  width: 51px;
  height: 51px;
  background-image: none;
  margin: 26px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-1 .u-icon-3 {
  height: 114px;
  width: 114px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 13px 6px 0;
}

.u-section-1 .u-icon-4 {
  width: 51px;
  height: 51px;
  background-image: none;
  margin: 26px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 25px;
}

.u-section-1 .u-icon-5 {
  height: 114px;
  width: 114px;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 13px 6px 0;
}

.u-section-1 .u-icon-6 {
  width: 51px;
  height: 51px;
  background-image: none;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 26px;
    min-height: 169px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 13px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 408px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1177px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1539px;
  }

  .u-section-1 .u-group-1 {
    min-height: 239px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 26px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1601px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-list-1 {
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}